* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  color: #313131;
  line-height: 1.5;
}

.content-wrap {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 20%;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

input {
  border-radius: 15px;
  margin-top: 15px;
}

.flag{
  width: 100px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 15px;
}

h1, p, img{
  display: inline-block;
  margin: 0px;
}

p {
  font-size: 1.5rem;
}

.info-list, .country-list{
  list-style: none;
  padding: 10px;
  margin: 0;
}

.list-item{
  display: flex;
  align-items: center;
}

h1,p {
padding-left: 10px;
}

.country-list .list-item{
  padding: 5px;
}
